<div class="container-fluid">
    <div class="inner-header">
        <div class="logo">
            <a routerLink="home"><img style="height: 42px; width: 133px;" src="assets/img/forsti.png" alt=""></a>
        </div>

        <nav class="main-menu mobile-menu">
            <ul style="margin-right: -100px;">

                <div class="header-right">
                    <div class="user-header">
                        <img src="{{connectedUser.avatar}}" alt="Avatar" class="avatar">
                        <span class="user-name">{{connectedUser.firstName + " " + connectedUser.lastName}}</span>
                        <div class="dropdown">
                            <button class="dropdown-btn">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" style="margin-left: -100px;width: 200px;">
                                <a routerLink="admin-dashboard"><img class="iconsH" src="assets/img/icons/profile.png" alt="">My Dashboard</a>
                                <a routerLink="#" (click)="logout()"><img class="iconsH" src="assets/img/icons/logout.png" alt="">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

            </ul>
        </nav>
    </div>
</div>